body{
    background-color: #C1D0B5;
}

hr {
    border-style: dotted none none;
    width: 5%;
    border-width: 5px;
    border-color: #FFF8DE;
}

h3,h2,h4 {
    color: #17594A;
}

img {
    margin-right: 20px;
}